<div class="container">
    <div class="text-center">
        <h1 class="display-4">FICHA DE SAÚDE</h1>
        <hr />
        <h3>Houve um problema ao cadastrar sua ficha de saúde.</h3>
        <br />
        <h3 style="color:red">Por favor, confira se você respondeu às 2 perguntas assinaladas como <b>RESPOSTA OBRIGATÓRIA.</b></h3>
        <br />
        <h3>
            Caso não seja esse o problema, entre em contato conosco.
        </h3>
        <br />
        <h3>
            Obrigado.
        </h3>
    </div>
</div>